@import "~office-ui-fabric-react/dist/css/fabric.min.css";
@import "./assets/fonts/Fonts.css";

body {
  margin: 0;
  padding: 0;
  background-color: lightgrey;
  direction: rtl;
  font-size: 18px;
  color: #000000;
  font-family: shabnam;
}

ms-Grid {
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
